.box-content{
    width: 90%;
    height: 200px;
    bottom: -100px;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
    transition: 200ms;
}

@media (min-width: 0px) and (max-width: 576px) {
    .box-content{
        height: 100px;
    }
    .box-description{
        font-size: 8px !important;
    }
    .box-title{
        font-size: 12px !important;
    }
    .rate{
        font-size: 8px !important;
    }
    .overview{
        font-size: 10px !important;
    }
  }

.box:hover .box-content{
    bottom: 0px;
    opacity: 1;
    visibility: visible;
    transition: 1000ms;
}
.box-description{
    font-size: 15px;
}
.rate{
    font-size: 12px;
}